<table class="footer">
  <tr>
    <td valign="top" class="cel3 bold"><%==Spree.t(:footer_right)%> </td>
    <td valign="top" class="cel4 cell"><%==ERB.new(Spree.t(:footer_right2)).result%></td>
  </tr>
</table>
