<p>Hello <%= @user.email %>!</p>

<p align=justfy>A request to reset your password has been made from <%= ENV['FRONT_END_URL']%>.
If you did not make this request, simply ignore this email.

If you did make this request just click the link below:</p>

<p><%= link_to 'Change My Password Link', "#{ENV['FRONT_END_URL']}/auth/updatePassword?reset_password_token=#{@token}&email=#{@user.email}&id=#{@user.id}"%>
</p>

<p>Your password won't change until you access the link above and create a new one.</p>
